{% extends "base.html" %}
{% block index %}

  <h1>Campsite Map</h1>

  <div class="filter">
    <form method="post">
      {{ content.form.name.label }}
      {{ content.form.name }}
      {{ content.form.state.label }}
      {{ content.form.state }}
      {{ content.form.org.label }}
      {{ content.form.org }}
      {{ content.form.submit }}
    </form>
  </div>

  <a href="http://www.recreation.gov/recAreaDetails.do?recAreaId=1284"> Back Bay National Wildlife Refuge </a>

  <div class="map" id="map"></div>

{% endblock %}
